# Seinfeld

In [2]:
# imports

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve
import statsmodels.api as sm

# plotting defaults
plt.rc('figure', figsize=(13, 7))
plt.style.use('seaborn-whitegrid')
plt.rc('font', size=16)

# Acquire

In [3]:
df = pd.read_csv('seinfeld_episodes.csv')
df.head()

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers
0,1,1,1,"Good News, Bad News",Art Wolff,Larry David & Jerry Seinfeld,1989-07-05,101,15400000.0
1,1,2,2,The Stakeout,Tom Cherones,Larry David & Jerry Seinfeld,1990-05-31,102,22500000.0
2,1,3,3,The Robbery,Tom Cherones,Matt Goldman,1990-06-07,103,19700000.0
3,1,4,4,Male Unbonding,Tom Cherones,Larry David & Jerry Seinfeld,1990-06-14,104,19100000.0
4,1,5,5,The Stock Tip,Tom Cherones,Larry David & Jerry Seinfeld,1990-06-21,105,19400000.0

In [4]:
df.tail()

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers
175,9,20,176,The Puerto Rican Day,Andy Ackerman,"Alec Berg, Jennifer Crittenden, Spike Feresten...",1998-05-07,920,38780000.0
176,9,21,177,The Chronicle,Andy Ackerman,Darin Henry,1998-05-14,921,58530000.0
177,9,22,178,The Chronicle,Andy Ackerman,Darin Henry,1998-05-14,922,58530000.0
178,9,23,179,The Finale,Andy Ackerman,Larry David,1998-05-14,923,76260000.0
179,9,24,180,The Finale,Andy Ackerman,Larry David,1998-05-14,924,76260000.0